<!DOCTYPE html>
<html lang="en">
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
</head>
        <title>Job Search</title>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" type="text/css" media="all" />
        <style>
          .ui-autocomplete-loading {
            background: white url('/static/ui-anim_basic_16x16.gif') right center no-repeat;
          }
        </style>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script>
        $(function() {
            $( "#company" ).autocomplete({
              source: "/companies_autocomplete",
              minLength: 3,
              select: function( event, ui ) {
                $('#company').val(ui.item.value);
              }
            });
          });
        </script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script>
            google.load('visualization', '1.0', {'packages':['corechart']});
        </script>
        <script type="text/javascript">
          
          function drawChart(chartData) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Skill');
            data.addColumn('number', 'People');
            data.addRows(chartData);
            var options = {'title':'Company skill requirements',
                           'width':600,
                           'height':300,
                           'pieHole': 0.4,};
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
          }

          function getCompanySkills() {
            $.get('/company_skills?company=' + encodeURI($('#company').val()), function(data) {
                var chartData = JSON.parse(data);
                drawChart(chartData);
            });
          }
        </script>
    </head>
    <body>
    <div class="jumbotron">  
      <div>
        <div style="position:relative; left: 40px;"class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Company Name" style="width:300px;" id="company">
              <button class="btn btn-primary" type="button" onclick="getCompanySkills();">Get Chart!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->

      <br/>
      <div style="position:relative; left: 50px;" id="chart_div"></div>
      <div id="company_info"></div>
      <br/>
    </div> <!-- /jumbotron -->
    </body>
     <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</html>